@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.signin-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.right-container {
  background-color: blue;
  max-width: 650px;
  width: 100%;
  height: 100%;
}

.left-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.inner-left-container{
    max-width: 550px;
    width: 100%;
}
.lft-cnt-heading {
  color: black;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

.form-container {
 
  width: 100%;
  
  display: flex;
  flex-direction: column;
}

.frm-cnt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.flab-heading {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 10px;
}

.input-box {
  width: 100%;
  height: 44px;
  border: #8b8b8b 1px solid;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  color: #4b4b4b;
}
.forgot-password{
    font-size: 12px;
    color: #6e6e6e;
    
    font-weight: 400;
    font-family: "Inter", sans-serif;
    align-self: flex-end;
}
.login-button{
    background-color: #050389;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    align-self: center;
    margin: 20px 0px;
    width: 100%;
    height: 44px;
    cursor: pointer;
    border: none;
}
.signin-link-para {
  font-size: 14px;
  color: #6e6e6e;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  align-self: center;
}

.signup-link {
  color: #050389;
  text-decoration: none;
  font-weight: 500;
}

.signup-link:hover {
  text-decoration: underline;
}

